<template>

  <button type="button" @click="emptyChecklist(); updateCheckedList()" class="button red">Auswahl löschen</button>
  <br>
  <button type="button" @click="selectAll(); updateCheckedList()" class="button green" > Alles auswählen</button>

  <br>

  <!--fixte höhe und scrollbalken-->
  <div style="height: 250px; overflow: auto; margin-top: 15px;">


    <!--erstellen einer liste aber ohne bulletpoints-->
    <ul style="list-style: none;">

      <!--iteriert über die List von gid welche nach größe sortiert sind-->
      <li v-for="item in sortedList" key="item">

        <!--erstellt für jedes item eine checkbox
        die gid wird and checkedDeviceList gebunden und wird somit automatisch geupdated wenn sich inhalte ändern
        änderungen werden auch sofort über eine funktion an den parent component übergeben-->
        <input type="checkbox" :value=item.gid v-model="checkedDeviceList" :id="item.gid" :name="item.gid" @change="updateCheckedList">
        <label v-bind:for="item.gid"> Rechner {{item.gid}}</label>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ['idsViaCategory'], // wenn Geräte über die Kategorien angewählt werden, dann wird das auch in der checkliste angezeigt
  emits: ['updateCheckList'],
  data(){
    return{
      deviceList: [],
      checkedDeviceList: []
    }
  },
  watch: {
    idsViaCategory: "changeChecklist",
    // checkedDeviceList: "updateCheckedList"
  },

  // beim erstellen wird eine anfrage gemacht welche geräte alles verfügbar sind, diese werden dann in deviceList geschrieben
  created() {
    axios.get('http://192.168.34.156:8080/api/v1/devices')
        .then(response => {
          this.deviceList = response.data;
        })
        .catch(error => {
          console.log(error)
        });
  },
  methods:{
    // sendet das array welche devices angeclickt sind an parent component
    updateCheckedList(){

      this.$emit("updateCheckList",this.checkedDeviceList)
    },
    changeChecklist(){
      this.checkedDeviceList = this.idsViaCategory
    },

    // vergleichsfunktion zum sortieren der checkliste
    compareGid(a,b){
      if(a.gid > b.gid){
        return 1;
      }
      else{
        return -1;
      }
    },
    emptyChecklist(){
      this.checkedDeviceList = []
    },
    selectAll(){/*
      let emptylist = []
      for(let thing of this.sortedList){
        emptylist.push(thing.gid)
      }
      this.checkedDeviceList = emptylist
*/
      this.checkedDeviceList = this.sortedList.map(x => x.gid)
    }

  },

  computed: {

    // gibt eine sortierte liste zurück
    sortedList(){
      return this.deviceList.sort(this.compareGid)
    },

  }
}
</script>


<style scoped>
.button {
  /* Green */
  cursor: pointer;
  position: absolute;
  color: white;
  padding: 3px 7px;
  text-align: center;
  display: inline-block;
  font-size: 11px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 100px;
}
.red{
  background-color: red;
}

.green{
  background-color: green;
}
</style>