<template>
  
    <canvas id="myChart"></canvas>
    

  
    </template>
    
    <script>
    import Chart from "chart.js/auto";
    import axios from 'axios';
  
    let ahmad = [];
    let avg = [];
    let idle = [];
    let max = [];
    
  
    for(let i = 1; i < 57; i++){
      avg.push(i+2);
      idle.push(i-1);
      max.push(i*2);
      
      ahmad.push(i);
    }
  
  let myChartData=null;
  
    let barChartData = {
      type: "bar",
      methods: {},
      data: {
        labels: ahmad,
        datasets: [
          {
            label: "Durchschnitt",
            data: avg,
            fill: false,
            showLine: true,
            borderWidth: 1,
            backgroundColor: "rgb(48, 172, 176, 0.2)",
            borderColor: "rgb(54, 172, 176)",
          },
          {
            label: "Idle",
            data: idle,
            fill: false,
            showLine: true,
            borderWidth: 1,
            backgroundColor: "rgb(212, 42, 71, 0.2)",
            borderColor: "rgb(212, 42, 71)",
          },
          {
            label: "Max",
            data: max,
            fill: false,
            showLine: true,
            borderWidth: 1,
            backgroundColor: "rgb(60, 176, 57, 0.2)",
            borderColor: "rgb(60, 176, 57, 71)",
          },
        ],
      },
      options: {
        plugins: {
          legend: {
            labels: {
              font: {
                size: 16,
              },
            },
          },
        },
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
  
    
    
    export default {
      name: "NewGraph",
      
      data() {
        return {
          devices:[],
          ids:[],
          verbrauchHigh:[],
          verbrauchLow:[],
          verbrauchAVG:[],
        };
       
      },
      mounted() {
        let ctx = document.getElementById("myChart");
        myChartData = new Chart(ctx, barChartData);
        myChartData.update("none");
        this.getData();
      },
  
  
      methods:{
        async getData(){
       axios.get('http://192.168.34.156:8080/api/v1/devices').then((response) => {this.devices=response.data;this.processData();}).catch(err => {this.err=err})
  
        },
  
        processData(){
          this.devices.sort(this.compare);
          this.verbrauchAVG =[];
          this.ids=[];
          this.verbrauchHigh=[];
          this.verbrauchLow=[];
  
  
      this.devices.forEach(device => {
        this.ids.push(device.gid);
        this.verbrauchHigh.push(device.peak);
        this.verbrauchLow.push(device.lowest);
        this.verbrauchAVG.push(device.average);
  
      });
      
      barChartData.data.labels = this.ids;
      barChartData.data.datasets[0].data= this.verbrauchAVG;
        barChartData.data.datasets[1].data= this.verbrauchLow;
          barChartData.data.datasets[2].data= this.verbrauchHigh;
     
      myChartData.update();
  
        },
  
          compare(a,b){
      if(a.gid < b.gid){
        return -1;
      }
      if(a.gid >b.gid){
        return 1;
      }
      return 0;
  
     },
  
  
      }
    };
  
      
   
    </script>