<template>
  <select v-model="selected" @change="updateTime" >
    <option disabled selected hidden value="">Please select one</option>
    <option>hourly</option>
    <option>daily</option>
    <option>weekly</option>
  </select>
</template>

<script>
export default {
  emits:["updateTime"],
  data() {
    return {
      selected: ''
    }
  },
  methods:{
    updateTime(){
      this.$emit('updateTime',this.selected)
    }
  }
}
</script>

<style scoped>

</style>