<template>
  <div  style="position: relative;" >
    <canvas ref="chart"></canvas>
  </div>
</template>

<script>
import Chart from "chart.js/auto";

export default {
  name: 'ChartComponent',

  // daten welche von parent an diesen Komponenten übergeben werden
  props: {
    chartName: {
      type: String,
      required: true
    },
    labels: {
      type: Array,
      required: true
    },
    data: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      chart: null,
    }
  },
  watch: {
    data: {
      deep: true,
      handler() {
        if (this.chart) {
          this.chart.destroy()
        }
        this.renderChart()
      },
    },
  },
  mounted() {
    this.renderChart()
  },
  methods: {
    renderChart() {

      if (!this.$refs.chart) {
        return
      }

      const ctx = this.$refs.chart.getContext('2d')



      let datasets = []

      for (let [key, value] of this.data) {

        datasets.push({
          label: key,
          data: value,


        })
      }

      this.chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: this.labels,

          datasets,

        },
        options: {

          responsive: true,
          maintainAspectRatio: true,

          animation: false, // sieht besser aus, wenn dieser wert auf true gesetzt wird, lol
          animations:{
            x: false,
            colors:false,
          },
          transitions:{
            active:{
              animation:{
                duration: 0,
              },
            },
          },
          scales: {
            y: {
              beginAtZero: false,
            },
          },

        },
      })

    },

  },
}
</script>