<template>

  <select v-model="selectedLabel" @change="fetchDataFromLid(selectedLabel.lid)" style="width:100%;max-width:90%;">
    <option v-for="item in allLabels" key="item" :value="item">{{item.name}} {{item.description}}</option>
  </select>
</template>

<script>
import axios from "axios";

export default {
  name: "LabelViewer",
  emits: ['updateDeviceList'],
  data(){
    return{
      selectedLabel: null,
      allLabels: [],
      deviceList: []
    }
  },
  watch: {
    deviceList: "updateDeviceList"
  },


  mounted() {
    this.fetchLabels()
  },
  methods:{
    updateDeviceList(){
      this.$emit("updateDeviceList", this.deviceList)
    },
    async fetchLabels() { // abfragen aller Labels
      axios.get('http://192.168.34.156:8080/api/v1/label').then((response) => {
        this.allLabels = response.data
        }
      );
    },

    // fragt server welche Geräte zu diesem Label gehören ordnet diese auch gleich in labelliste ein
    async fetchDataFromLid(lid){
      let URL = 'http://192.168.34.156:8080/api/v1/label/' + lid + '/devices'
      axios.get(URL).then((response) => {

        // wenn Daten vorhanden sind
        if(response.status == 200) {
          this.deviceList = response.data.map(x => x.gid)
          }

        // wenn es keine Geräte zu dem Label gibt gibt er eine leere liste zurück
        else if(response.status == 204){
          this.deviceList = []
        }
        }
      ).catch((error) => {console.log(error)})
    }
  }
}
</script>

<style scoped>

</style>