<template>
  <canvas ref="sChart"></canvas>

</template>


<script>

import { Chart } from 'chart.js';



let options = {
  animations:false,
  scales: {
    x: {
      barPercentage: 1.6,
      display: true,
      grid: {

        color: function (context) {
          return 'rgba(29,140,248,0.4';
        },

      }
    },
    y: {
      grid: {
        color: function (context) {


          return 'rgba(29,140,248,0.4';



        },
      },
    },

  },

};


let chartDataStaging = {

  type: "line",


  data: {

    labels: [1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1],

    methods: {},
    datasets: [{
      label: 'Verbrauch',
      data: [65, 59, 80, 81, 56, 55, 40],
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.14,
      pointRadius: 4,
      pointBorderColor: 'rgb(255,0,0)',
      pointBorderWidth: 3

    }

    ]
  },
  options: options
};



let chartData = {

  type: "line",

  data: {

    labels: [1.1, 2.1, 3.1, 4.1, 5.1, 6.1, 7.1],

    methods: {},
    datasets: [{
      label: 'Höchstwert',
      data: [65, 59, 80, 81, 56, 55, 40],
      fill: false,
      borderColor: '#DB073D',
      tension: 0.14,
      pointRadius: 4,
      pointBorderColor: 'rgb(255,0,0)',
      pointBorderWidth: 3

    }, {
      label: 'Durchschnittswert',
      data: [21, 15, 27, 11, 33, 36, 17],
      fill: false,
      borderColor: '#ffbe00',
      tension: 0.37,
      pointRadius: 4,
      pointBorderColor: 'rgb(255,0,0)',
      pointBorderWidth: 3

    },
    {
      label: 'Kleinster Wert',
      data: [3, 4, 5, 2, 5, 4.5, 5.7],
      fill: false,
      borderColor: 'rgb(75, 192, 192)',
      tension: 0.37,
      pointRadius: 4,
      pointBorderColor: 'rgb(255,0,0)',
      pointBorderWidth: 3

    }

    ]
  },

  options: options



};

let chart=null;

export default {
  name: 'LineChartSequence',


  props: {
    labels: {
      type: Array,
      required: true
    },
    dataChart: {
      type: Array,
      required: true
    },
    isStaging: {
      type: Boolean,
      required: true
    },
  

  },

  data() {
    return {
      chart: null,
      date:null,
    }

    

  },

  watch: {
    dataChart: {
      deep: true,
      handler() {
        if (this.chart) {
          this.chart.destroy()
        }
        this.updateChart()
      },
    },
  },

  mounted() {
    //   let ctx = document.getElementById('SeqSearchChart');
    //  this.chart = new Chart(ctx,chartData);
    this.date = new Date();
    const ctx2 = this.$refs.sChart.getContext('2d');
    this.chart = new Chart(ctx2, chartData);


  },
  methods: {
    updateChart() {
      if (!this.$refs.sChart) {
        return
      }
      if(this.date!=null){
        let time = this.date.getTime();
        let date2 = new Date();

        if(date2.getTime()- time<2000){
          setTimeout(2000);
        }
      }
      const ctx2 = this.$refs.sChart.getContext('2d');
      

     

      if (this.isStaging) {


        chartDataStaging.data.datasets[0].data =this.dataChart;
        chartDataStaging.data.labels = this.labels;

        if(this.dataChart.length >661){
          chartDataStaging.data.datasets[0].pointRadius =0;
        }else if(this.dataChart.length <75){
          chartDataStaging.data.datasets[0].pointRadius =4;
        }
        else{
          chartDataStaging.data.datasets[0].pointRadius =0.1;
        }
        this.chart = new Chart(ctx2, chartDataStaging);

      } else {

        chartData.data.labels = this.labels;
        chartData.data.datasets[0].data =this.dataChart[0];
        chartData.data.datasets[1].data =this.dataChart[1];
        chartData.data.datasets[2].data =this.dataChart[2];
        this.chart = new Chart(ctx2, chartData);
      }

     
      this.date = new Date();
 




    },

  },



}

</script>