<template>
  
    
   
       <canvas id="LiveDataChart"></canvas>
  
   
    

    </template>
    
    <script>
    import Chart from "chart.js/auto";
    import axios from 'axios';
  
  let myChartData=null;
  
  
  
  
    let barChartData = {
      type: "bar",
      methods: {},
      data: {
        labels: [1,2,3],
        datasets: [
          {
            label: "Aktueller Verbrauch",
            data: [12,15,20],
            fill: true,
            showLine: true,
            borderWidth: 1,
            backgroundColor: "rgb(20 , 20, 176, 0.9)",
            borderColor: "rgb(54, 172, 176)",
          },
  
         
        ],
      },
      options: {
        plugins: {
          legend: {
            labels: {
              font: {
                size: 16,
              },
            },
          },
        },
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    };
  
    
    
    export default {
      name: "LiveChart",

      data() {
        return {
          devices:[],
          ids:[],
          err:'',
          verbrauch:[],
          testdata:[],
          intervallID: 0,
        };
       
      },
      mounted() {
        let ctx = document.getElementById("LiveDataChart");
        myChartData= new Chart(ctx, barChartData);
  
  
        myChartData.update("none");
        this.receiveData();
        
  
  
      },

      unmounted() {
        // stopt das intervall, welche jede sekunde neue Devices anfordert über die intervallID
        clearInterval(this.intervallID)
      },

      methods:{
  
       async receiveData(){
         this.intervallID = setInterval(() => {
          axios.get('http://192.168.34.156:8080/api/v1/devices').then((response) => {this.devices=response.data;this.processData();}).catch(err => {this.err=err})
         }, 1000);
  
  
    },
    processData(){
      this.devices.sort(this.compare);
      this.verbrauch =[];
     this.ids=[];
  
      this.devices.forEach(device => {
        this.ids.push(device.gid);
        this.verbrauch.push(device.lastValue);
      });
  
  
      barChartData.data.labels = this.ids;
      barChartData.data.datasets[0].data= this.verbrauch;

      myChartData.data.datasets[0].data= this.verbrauch;
      myChartData.labels= this.ids;






      myChartData.update("none");
    
    },
  
    compare(a,b){
      if(a.gid < b.gid){
        return -1;
      }
      if(a.gid >b.gid){
        return 1;
      }
      return 0;
  
    }
  
  
      }
    };
    </script>