<template>

<h1>Bestehende Grupen</h1>
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div> 
                    <DataTable :value="labelList" :rowHover="true">
                        <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field">
                            <template hier steht knopfStart>
                                <Button type="button" label="Connect"></Button>
                                <p>random Text</p>
                            </template> 
                        </Column>
                    </DataTable>
                </div>                 
            </div>
        </div>
    </div>
        <h1>Neue Gruppe anlegen</h1>
        <div class="grid">
        <div class="col-12">
            <div class="card">                 
                <MultiSelect v-model="newGeräte" :options="devices" optionLabel="gid" placeholder="Wähle Geräte für neue Gruppe" />

                <br>
                <inputText type="text" v-model="newLabel" placeholder="Name der Gruppe">
                </inputText>
                <inputText type="text" v-model="newDescription" placeholder="Beschreibung der Gruppe">
                </inputText>
                <br>
                <br>
                
                <h3> Die neue Gruppe:</h3>
                <div class="grid">
                    <div class="col-12">
                        <div class="card"> 
                            <p> Name: {{ newLabel }} <br>
                                Beschreibung: {{ newDescription }} <br>
                                Geräte: <div v-for="item in newGeräte">
                                 {{ item.gid }}
                                     </div> 
                            </p>
                        </div>
                    </div>
                </div>
                <!--zeige button nur wenn Anforderungen erfüllt:-->
                <button class="confirm-button" @click="erstelleGruppe">Gruppe erstellen</button>
            </div>
        </div>
    </div>
        
</template>

<script>
import { ref } from 'vue';
import MultiSelect from 'primevue/multiselect';
import axios from 'axios';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column'; 

export default {
    data() {       
        const newLabel = ref();
        const newDescription = ref();
        const newGeräte = ref();
        let devices = [];
        let columns = [
            //{field: 'lid', header: 'Label-ID'},
            {field: 'name', header: 'Name'},
            {field: 'gids', header: 'Geräte'},
            {field: 'description', header: 'Beschreibung'},
            {field: 'userCreated', header: 'User-Created'},
            {header: "Edit"},
            ];
        let initialLabelList = [];
        let labelList =[];
        return { columns, newGeräte, newLabel, devices, labelList, newDescription, initialLabelList }
    },
    methods: {
       async erstelleGruppe(event){
            //erzeuge Label:
            let generatedLabelLID;
            await axios.post('http://192.168.34.156:8080/api/v1/label', 
                {name: this.newLabel, description: this.newDescription, userCreated: true }).then((response) => 
            {generatedLabelLID=response.data.lid}).catch(err => {this.err=err});
            
            //füge den ausgewählten Geräten das Label hinzu:
            for(const k of this.newGeräte)
                {this.addLabelToDevice(generatedLabelLID, k.gid)};
            this.gruppeErstellt();
        },

        //löscht Eintragungen in "neue Gruppe erstellen"-Maske und zeigt Nachricht
        gruppeErstellt(){
            window.alert("neue Gruppe erstellt! :)")
        },

        removeLableFromDevice(lid, gid){
            //entfernt Label=lid von Gerät=gid
            let removeMe = "'http://192.168.34.156:8080/api/v1/devices/{"+ lid +"}/remove/{"+ gid +"}'";
            axios.delete(removeMe);
            //check ob erfolgreich
            this.refreshLables();
        },
        
        async addLabelToDevice(lid, gid){
            await axios.post('http://192.168.34.156:8080/api/v1/label/addDevice',{lid, gid});
            this.refreshLables();
        },
        


        async getData(){
            //hohlt die Geräte Daten vom Uni-Server
            axios.get('http://192.168.34.156:8080/api/v1/devices').then((response) => 
            {this.devices=response.data; this.sortGID()}).catch(err => {this.err=err});
            this.refreshLables();
        },

        //holt alle Label aus Backend, sortiert diese nach LID, holt zugehörige GID und schreibt alles in "labelList[]"
        async refreshLables(){
            await axios.get('http://192.168.34.156:8080/api/v1/label').then((response) =>
            {this.initialLabelList = response.data;}).catch(err => {this.err = err});

            //hole zugehörige GID zu Label, packe beides in "labelList[]"
            let gidZuLid = [];
            let justGID = [];
            for(let i=0; i<this.initialLabelList.length; ++i ){
                let currentLid = this.initialLabelList[i].lid;
                await axios.get('http://192.168.34.156:8080/api/v1/label/'+ currentLid + '/devices').then((response) => {gidZuLid = response.data});
                //array with only GID's
                justGID = [];
                for (const k of gidZuLid){
                        justGID.push(k.gid);
                }
                this.labelList[i] = {   "lid": this.initialLabelList[i].lid, "name": this.initialLabelList[i].name, 
                                        "description": this.initialLabelList[i].description, "userCreated": this.initialLabelList[i].userCreated,
                                        "gids": justGID};
                gidZuLid = [];
            };
        },

        sortGID(){
            //sortiert die Gerätedaten nach ID

            this.devices.sort(this.compareByGid);
            
        },

        compareByGid(a,b){
            //hilfsfunktion zum sortieren der Daten nach GID
            if(a.gid < b.gid){
                return -1;
            }
            if(a.gid >b.gid){
                return 1;
            }
            return 0;
        },

        compareByLid(a,b){
            //hilfsfunktion zum sortieren der Daten nach LID
            if(a.lid < b.lid){
                return -1;
            }
            if(a.lid >b.lid){
                return 1;
            }
            return 0;
        }
    
    },

    mounted() {
        this.getData();
    },
}

  </script>
  
  <style scoped>
  .confirm-button{
        float: right;
  }

  table {
    padding: 50px;
  }

  .icon-button{
    padding: 10px;
    border-radius: 10%;
  }
  
  </style>