<template>

  <section id="section-right" class="input">

    <h6><b>Start:</b></h6>
    <label>
      <input type="date" id="vondatum" name="vondatum" v-model="vondatum">
    </label>

    <br>
    <p style="margin: 5px"> </p>

    <label>
      <input type="time" id="vonzeit" name="vonzeit" v-model="vontime">
    </label>



  </section>

  <section id="section-left" class="input">

    <h6><b>Ende:</b></h6>
    <label>
      <input type="date" id="bisdatum" name="bisdatum" v-model="bisdatum">
    </label>

    <p style="margin: 5px"> </p>

    <label>
      <input type="time" id="biszeit" name="biszeit"  v-model="bistime">
    </label>



  </section>

</template>



<script>


export default {
  // events die diese Komponente nach außen überträgt
  // bisher nur eins
  emits:["updateIntervall"],

  data() {

    // sample Data die beim laden der Website in den Feldern steht
    // kann später vllt noch dynamisch auf das heutige Datum generiert werden
    return{
      vontime: "00:00",
      vondatum:"2023-02-01",
      bistime:"00:00",
      bisdatum:"2023-02-08",
      vonTimestamp:"0",
      bisTimestamp:"1"
    }
  },

  // beim ersten laden der Seite werden die sample Daten nach außen weitergegeben
  mounted() {
    this.bisdatum = this.timestampToDate(Date.now())
    this.vondatum = this.timestampToDate((Date.now() - (60 * 60 * 24 * 7 * 1000))) // abziehen einer woche in millisekunden
    this.timechange()
  },


  // wenn sich einer dieser Werte ändert werden diese änderungen gleich weitergegeben
  watch: {
    vontime: "timechange",
    vondatum:"timechange",
    bistime:"timechange",
    bisdatum:"timechange",
  },
  methods:{
    // nimmt ein datum und eine Uhrzeit und convertiert diese in einen Unixtimestamp
    toTimestamp(dateinput, timeinput){

      // anscheinden kann Date.parse() einen timestamp errechnen
      let datum = Date.parse(dateinput +" "+ timeinput);
      return datum/1000;
    },

    // wird aufgerufen, wenn sich werte ändern
    // aktualisiert die timestamps und teilt dieses Ereignis nach außen mit
    timechange(){
      this.vonTimestamp = this.toTimestamp(this.vondatum,this.vontime)
      this.bisTimestamp = this.toTimestamp(this.bisdatum,this.bistime)
      this.$emit("updateIntervall",this.vonTimestamp,this.bisTimestamp)
    },
    timestampToDate(timestamp){
      // Neues Date-Objekt erstellen und Zeitstempel zuweisen
      const date = new Date(timestamp);

      // Datum im format für html input feld erstellen, JJJJ-MM-TT
      const year = date.getFullYear();
      const month = String(date.getMonth() + 1).padStart(2, '0'); // Monat beginnt bei 0, deshalb +1
      const day = String(date.getDate()).padStart(2, '0'); // pad start, um bei einstelligen monaten eine 0 vorne ranzuhängen
      const formattedDate = `${year}-${month}-${day}`;

      return formattedDate
    }
  }

}
</script>

<style scoped>
h6 {
  color: black;
}

#section-left {
  overflow:hidden;
}

#section-right {
  width: 270px;
  float: left;
}

#vondatum {
  border-width: 1px;
  border-color: black;
}

#vonzeit {
  width: 136px;
  border-width: 1px;
  border-color: black;
}

#bisdatum {
  border-width: 1px;
  border-color: black;
}

#biszeit {
  width: 136px;
  border-width: 1px;
  border-color: black;
}

</style>

