<template>
  <h1 class="title">ANALYSE</h1>
  <div class="grid p-fluid">
    <div class="col-12 md:col-6">
      <div class="card">
        <h2>checkliste</h2>
        <checklist v-on:updateCheckList="handleCheckedItems" :idsViaCategory="ids" />
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="card">
        <h2>genauigkeit</h2>
        <Dropdown v-on:updateTime="handleTimeChange" />
      </div>
      <div class="card">
        <h2>intervall</h2>
        <Time v-on:updateIntervall="handleIntervallChange" />
      </div>
      <div class="card">
        <h2>label</h2>
        <LabelViewer v-on:updateDeviceList="handleSelectedLabel" />
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="card">
        <h2>average</h2>
        <Graph :chartName="'average'" :labels="timestamps" :data="averageMap" />
      </div>
      <div class="card">
        <h2>total</h2>
        <Graph :chartName="'total'" :labels="timestamps" :data="totalMap" />
      </div>
    </div>
    <div class="col-12 md:col-6 ">
      <div class="card">
        <h2>peak</h2>
        <Graph :chartName="'peak'" :labels="timestamps" :data="peakMap" />
      </div>

      <div class="card">
        <h1>lowest</h1>
        <Graph :chartName="'lowest'" :labels="timestamps" :data="lowestMap"/>
      </div>

    </div>


</div>

</template>


<script setup>

import Checklist from "../components/checklist.vue";
import Dropdown from "../components/dropdown.vue";
import Graph from "../components/Graph.vue";
import Time from "../components/time.vue";
import LabelViewer from "../components/LabelViewer.vue";

</script>
<script>
import axios from "axios";

export default {
  watch: {
    // wenn ids oder typ geändert wird, dann wird die funktion noticedChange() ausgeführt
    ids:"noticedChange",
    typ:"noticedChange",
    starttime:"noticedChange",
    endtime:"noticedChange"
  },
  data(){
    return{
      ids: [],
      typ: '',
      starttime: "",
      endtime: "",
      data: [],
      totalMap: new Map(),
      lowestMap:new Map(),
      peakMap:new Map(),
      averageMap: new Map(),
      timestamps: []
    }
  },

  methods: {
    handleCheckedItems(checkedItems){
      this.ids = checkedItems
    },
    handleSelectedLabel(listOfDevices){
      this.ids = listOfDevices
    },
    handleTimeChange(selected){
      this.typ = selected
    },
    handleIntervallChange(vonTime, bisTime){
      this.starttime = vonTime
      this.endtime = bisTime

    },

    // sortiert timestamps in eine Map ein
    // geht implizit davon aus, dass die timestamps in der richtigen reihenfolge hineingegeben werden
    getTimestamps(){
      this.timestamps = []
      for(let dataObject of this.data){
        if(!(this.timestamps.includes(this.convertIntoDate(dataObject.time * 1000)))){
          this.timestamps.push(this.convertIntoDate(dataObject.time * 1000))
        }
      }
    },

    // gibt einen menschenlesbaren String basierend auf dem timestamp zurücl
    convertIntoDate(timestamp){
      let date = new Date(timestamp)
      return date.getDate()+
          "/"+(date.getMonth()+1)+
          "/"+date.getFullYear()+
          " "+date.getHours() + ":00"
    },


    // sortiert werte basierend auf ihrer gid in eine map ein
    // die werte die sortiert werden bestimmt der Parameter "propertyname"
    sortIntoMap(propertyname){
      let mapToSortIn = new Map()
      for (let dataObject of this.data){

        // wenn die gid bereits in der map ist wird der neue wert nur an das array mit allen werten gepusht
        if(mapToSortIn.has(dataObject.gid)){
          mapToSortIn.get(dataObject.gid).push(dataObject[propertyname])
        }

        // wenn die gid noch nicht bekannt ist, dann wir ein neuer eintrag in der Map angelegt
        else {
          mapToSortIn.set(dataObject.gid,[dataObject[propertyname]])
        }
      }
      return mapToSortIn
    },

    async noticedChange(){


      // wenn noch keine Daten da sind muss auch keine anfrage gemacht werden
      if(this.ids == [] || this.typ == '' || this.starttime == "" || this.endtime == ""){
        return
      }

      // sammeln von daten via API
      await this.receiveData() // warten bis alle Daten gesammelt wurden


      // sortieren der erhaltenen Daten in die jeweiligen Maps

      this.averageMap = this.sortIntoMap("value")
      this.totalMap = this.sortIntoMap("total")
      this.lowestMap = this.sortIntoMap( "lowest")
      this.peakMap = this.sortIntoMap("peak")

      this.getTimestamps()
    },
    async receiveData(){
      this.data = []
      // füttert die daten die es über die API erhält in this.data
      for(let index = 0; index < this.ids.length; index ++){
        let id = this.ids[index]
        var URL = "http://192.168.34.156:8080/api/v1/" + this.typ + "/"+ id + "/time?startTime=" + this.starttime + "&endTime=" + this.endtime;

        await axios.get(URL).then((response) => {
          this.data = this.data.concat(response.data)
        }).catch(err => {this.err=err})
      }
    },
  }

}
</script>