<template>
    
    <div class ="grid">
      <div class="col-12">
      
      <div class = "card">
        <div class="container">
              <NewGroup></NewGroup>
        </div>

      </div>
      </div>
    </div>

</template>

<style>
.button-container {
  margin-left: -17px;
  display: flex;
}

.confirm-button, .clear-button {
  border: 1px solid rgb(135, 162, 171);
  padding: 8px 16px;
  margin: 19px;
  border-radius: 4px;
  margin-top: 40px;
}
</style>

<script>
import NewGroup from '../components/newGroup.vue';

export default {
    data() {
        return {
            startDate: null,
            endDate: null
        };
    },
    methods: {
        confirm() {
            // Do something with startDate and endDate
        },
        clear() {
            this.startDate = null;
            this.endDate = null;
        }
    },
    watch: {
        startDate: function (newVal, oldVal) {
            if (newVal >= this.endDate) {
                this.endDate = newVal;
            }
        },
        endDate: function (newVal, oldVal) {
            if (newVal <= this.startDate) {
                this.startDate = newVal;
            }
        }
    },
    components: { NewGroup }
}
</script>