<template>


  <div class="grid p-fluid">

    <div class="col-6 md:col-6">

      <div class="card">
        <h1>Aktueller Verbrauch je Gerät</h1>
        <LiveGraphAll />
      </div>

    </div>


    <div class="col-6 md:col-6">

      <div class="card">
        <h1> Statistische Werte der Geräte</h1>
        <DevicesGraphStat />

      </div>

    </div>





  </div>



</template>
<script setup>
import LiveGraphAll from '../components/LiveGraphAllDevices.vue'
import DevicesGraphStat from '../components/DevicesGraphStat.vue';
import Checklist from "../components/checklist.vue";
import Dropdown from "../components/dropdown.vue";

</script>
<script>
export default {
}
</script>