<template>


<div class="row">
<div class="col">
    <div class="card">
    
    <h3> Aktueller Verbrauch aller Geräte</h3>
    <LiveGraphAll/>
</div>
   
</div>

</div>

</template>

<script setup>
import LiveGraphAll from '../components/LiveGraphAllDevices.vue'
</script>