<template>
    <Toast />

    <div class="card">



        <h1>Manuelle Sequenzauswahl</h1>

        <Sidebar v-model:visible="visibleFull" :baseZIndex="1000" position="full">
            <LineChartSequence :data-chart="datasets" :labels="labelsChart" :is-staging="isStaging" />
        </Sidebar>

        <div class="grid">

            <div class="col">
                <LineChartSequence :data-chart="datasets" :labels="labelsChart" :is-staging="isStaging" />
                <br>
                <br>

                <div class="grid">
                    <div class="col">

                        <h4 v-if="datentyp != null">Rechner: {{ r }}, {{ datentyp }}</h4>
                        <h4 v-else>Rechner: nicht ausgewählt</h4>
                    </div>

                    <div class="col">
                        <div class="flex align-items-end justify-content-end">

                            <Button icon="pi pi-external-link" class="p-button-warning" @click="visibleFull = true"
                                style="margin-right: 1.5em;margin-bottom: 1.5em;margin-top: 0.0em;top " />
                        </div>
                    </div>
                </div>



                <div class="card-2">
                    <div class="grid">

                        <div class="col">
                            <h5> Start</h5>
                            <Calendar selectionMode="single" :showTime="true" :showSeconds="true" v-model="startTime"
                                :manualInput="false" placeholder="Start der Sequenz" :class="{ 'p-invalid': startInvalid }"
                                @click="startInvalid = false" :showIcon="true" :showButtonBar="true" />




                        </div>



                        <div class="col">
                            <h5> Ende</h5>
                            <Calendar selectionMode="single" :showTime="true" :showSeconds="true" v-model="endTime"
                                placeholder="Ende der Sequenz" :class="{ 'p-invalid': endInvalid }"
                                @click="endInvalid = false" :showButtonBar="true" :showIcon="true" />

                        </div>




                    </div>

                    <div class="grid">

                        <div class="col">

                            <label for="glabel">Label</label>
                            <br>
                            <span class="p-input-icon-left">
                                <i class="pi pi-bookmark-fill" />
                                <InputText type="text" placeholder="Label Name" v-model="labelname"
                                    :class="{ 'p-invalid': labelInvalid }" />
                            </span>
                        </div>

                        <div class="col">
                            <div class="flex align-items-center justify-content-end "
                                style="margin-right:7.5em ;margin-top:1em">
                                <Button label="SEQUENZ SPEICHERN" class="p-button-success mr-2 mb-2" icon="pi pi-save"
                                    @click="saveSeq" />
                            </div>
                        </div>

                    </div>

                    <div>


                    </div>


                    <div>


                    </div>

                </div>


            </div>
            <div class="col">


                <div class="card-2">
                    <div class="grid">








                        <div class="col-4">

                            <label for="rechner">Rechner</label>
                            <br>
                            <Dropdown v-model="r" :options="rechner" placeholder="Select" :editable="true"
                                @change="pickedDevice" :class="{ 'p-invalid': deviceInvalid }" />

                            <br> <br>



                            <label for="stunde">Stunde</label>

                            <Dropdown id="std" v-model="dropdownHour" :options="hourRange" optionLabel="h"
                                placeholder="Select" :editable="true" @change="pickedHour"
                                :class="{ 'p-invalid': hourInvalid }" />




                        </div>


                        <div class="col-4">

                            <div>
                                <label for="tag1">Tag</label>
                                <br>
                                <Dropdown v-model="dropdownDay" :options="dropdownDays" optionLabel="tag"
                                    placeholder="Select" :editable="true" @change="pickedDay"
                                    :class="{ 'p-invalid': dayInvalid }" />


                                <br> <br>



                                <label for="virtels">15Min</label>
                                <br>
                                <Dropdown id="15min" v-model="min15" :options="dropdown15Min" optionLabel="vonBis"
                                    placeholder="Select" :editable="false" @change="picked15Min" />





                            </div>



                        </div>
                        <div v-if="loading" class="flex align-items-start justify-content-end">
                            <ProgressSpinner style="width: 50px; height: 50px;margin-left: 4em;margin-top: 2em;" strokeWidth="8" animationDuration=".5s" />
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-4">

                            <label for="minute1">Minute</label>
                            <br>
                            <Dropdown v-model="min" :options="dropdownMin" placeholder="Select" :editable="true"
                                @change="pickedMinute" />



                        </div>

                        <div class="col-4">
                            <label for="sekunde1">Sekunde</label>

                            <Dropdown v-model="sec" :options="dropdownSec" placeholder="Select" :editable="true"
                                @change="pickedSecond" />

                                
                        </div>
                       

                    </div>
                   
                    <div class="grid">
                       
                        <div class="col-4">





                        </div>

                        <div class="col-4">

                        </div>


                    </div>
                

                  
                    <br>
                    <br>

                    
                    <Button label="Als Start setzen" class="p-button-info mr-2 mb-2" icon="pi pi-check"
                        :disabled="startDisabled" @click="setStart" />
                    <Button label="Als Ende setzen" class="p-button-info mr-2 mb-2" icon="pi pi-check"
                        :disabled="endDisabled" @click="setEnd" />
                    <Button label="Reset" class="p-button-danger mr-2 mb-2" icon="pi pi-trash" @click="reset"
                        style="font-weight: bold;" />


                      


                </div>





                <br>
                <br>
                <br>









            </div>


        </div>










    </div>
</template>

<script setup>
import DevicesfGraphStat from '../components/DevicesGraphStat.vue';
import LineChartSequence from '../components/LineChartSequence.vue';
import { computed, onBeforeMount, onMounted, reactive, ref, shallowReactive } from 'vue';
import axios, { Axios } from 'axios';
import { useToast } from 'primevue/usetoast';

let toast = useToast();

let errorMessageHour = "Kein stündlichen Daten für diesen Tag verfügbar";
let errorConnect = "Verbindung zum Backend nicht möglich";
let infoSetStart = "Startzeit gesetzt";
let infoSetEnd = "Endzeit gesetzt";

let warnAvailable = "Zeitraum nicht verfügbar";

let successSeq = "Sequenz wurde gespeichert";
let errSeq = "Sequenz konnte nicht gespeichert werden";

let datentyp = ref(null);


let devices = [];

let hourlyChartData = []; //



let endDisabled = false;
let startDisabled = false;


let dropdown15Min = ref(null);
let min15 = ref(null);



let dropdownDays = ref(null);


let dropdownDay = ref(null);


let hourRange = ref(null);
let dropdownHour = ref(null);

let rechner = ref(null);
let r = ref(null);


let min = ref(null);
let sec = ref(null);

let dropdownMin = ref(null);
let dropdownSec = ref(null);;


let startTime = ref(null);
let endTime = ref(null);


let loading = ref(false);



let labelname = ref(null);



let labelsChart = ref([1, 2, 3, 4, 5, 6, 7]);
let datasets = ref([100, 100, 100, 100]);

let StagingData = ref([]);

let isStaging = ref(true);

let visibleFull = ref(false);


let deviceInvalid = ref(true);
let dayInvalid = ref(false);
let hourInvalid = ref(false);
let labelInvalid = ref(false);

let startInvalid = ref(false);
let endInvalid = ref(false);




onMounted(async () => {


    loading = true;

    axios.get('http://192.168.34.156:8080/api/v1/devices').then((response) => { devices = response.data; processDevicesData(); loading = false; })
        .catch(err => { showError(errorConnect) });






});


function processDevicesData() {
    devices.sort(compare);
    rechner.value = [];

    devices.forEach(device => {

        rechner.value.push(device.gid);

    });





}


function calcDays(dailyData) {




    dropdownDays.value = [];

    let currentDate = new Date();

    let labels = [];
    let dataAVG = [];
    let dataPeak = [];
    let dataLow = [];

    labels.push(getDayName(currentDate.getDay()).charAt(0) + getDayName(currentDate.getDay()).charAt(1) + " " + currentDate.getDate().toString() + "." + (currentDate.getMonth() + 1).toString())


    dropdownDays.value.push({ id: currentDate.getTime(), tag: getDayName(currentDate.getDay()) + " " + currentDate.getDate().toString() + "." + (currentDate.getMonth() + 1).toString() });
    dailyData.forEach(element => {

        let day = new Date(element.time * 1000);

        let actualDay = new Date();
        actualDay.setDate(day.getDate() - 1);

        dropdownDays.value.push({ id: actualDay.getTime(), tag: getDayName(actualDay.getDay()) + " " + actualDay.getDate().toString() + "." + (actualDay.getMonth() + 1).toString() });

        dataAVG.push(element.value);
        dataLow.push(element.lowest);
        dataPeak.push(element.peak);

        labels.push(getDayName(actualDay.getDay()).charAt(0) + getDayName(actualDay.getDay()).charAt(1) + " " + actualDay.getDate().toString() + "." + (actualDay.getMonth() + 1).toString());



    });


    labels.reverse();
    dataAVG.reverse();
    dataPeak.reverse();
    dataLow.reverse();

    isStaging = false;
    let temp = [];
    temp.push(dataPeak);
    temp.push(dataAVG);
    temp.push(dataLow);

    labelsChart.value = labels;
    datasets.value = temp;




}





function processHourlyData(hourlyData) {
    loading = false;




    hourlyChartData = [];

    //chartDaten
    let labels = [];
    let dataAVG = [];
    let dataPeak = [];
    let dataLow = [];





    if (hourlyData.length > 0 || hourlyData[0] != null) {
        hourlyData.forEach(element => {


            let hourDate = new Date();
            hourDate.setTime(element.time * 1000);

            if(hourDate.getHours() ==0){
                labels.push(23 + "-" + 24);
            }else{
                labels.push((hourDate.getHours() - 1).toString() + "-" + (hourDate.getHours()).toString());
            }
       
            dataAVG.push(element.value);
            dataPeak.push(element.peak);
            dataLow.push(element.lowest);


            hourlyChartData.push({ hour: (hourDate.getHours()).toString() + " -" + (hourDate.getHours() + 1), max: element.peak, low: element.lowest, avg: element.value });
        });



        let temp = [];
        temp.push(dataPeak);
        temp.push(dataAVG);
        temp.push(dataLow);
        isStaging = false;

        labelsChart.value = labels;
        datasets.value = temp;


    } else {
        showError(errorMessageHour);
    }

}


function getDayName(day) {

    switch (day) {
        case 0:
            return "Sonntag";

        case 1:
            return "Montag";
        case 2:
            return "Dienstag";
        case 3:
            return "Mittwoch";
        case 4:
            return "Donnerstag";
        case 5:
            return "Freitag";
        case 6:
            return "Samstag";
        default:
            return "Mettwoch";


    }



}


function compare(a, b) {
    if (a.gid < b.gid) {
        return -1;
    }
    if (a.gid > b.gid) {
        return 1;
    }
    return 0;

}




const pickedDevice = () => {

    deviceInvalid.value = false;
    datentyp = "Tagesdaten";
    dropdownDay.value=false;
    min15.value=null;
    dropdownHour.value=null;

    let today = new Date();
    let weekAgo = new Date();
    weekAgo.setDate(today.getDate() - 6);
    weekAgo.setHours(0);
    weekAgo.setMinutes(0);
    weekAgo.setSeconds(1);

    let dailyResponse = [];


    let requestString = "http://192.168.34.156:8080/api/v1/daily/" + r.value + "/time" + "?startTime=" + (Math.floor(weekAgo.getTime() / 1000)).toString()
        + "&endTime=" + Math.floor((today.getTime() / 1000)).toString();


    loading = true;
    axios.get(requestString).then((response) => {
        dailyResponse = response.data; dailyResponse.sort(sortByTime); calcDays(dailyResponse);
        loading = false;
    }).catch(err => { showError(errorConnect + err) });

    // error = dailyResponse;





};


let sameDay = false;



const pickedDay = () => {

    datentyp = "Stundendaten für " + dropdownDay.value.tag.toString();
    dayInvalid.value = false;
    min15.value=null;
    dropdownHour.value=null;

    let today = new Date();
    let choosenDay = new Date();
    choosenDay.setTime(dropdownDay.value.id);
    let v = [];



    if (today.getDate() == choosenDay.getDate()) {
        // jetziger tag -> nicht der ganze tag verfügbar
        sameDay = true;

        let max = choosenDay.getHours();
        if (max < 0) {
            showWarn(warnAvailable);
            return;
            //reset values
        }

        for (let i = 0; i < max; i++) {



            let prop = { h: i + ':00' + ' - ' + i + ':59', s: i };

            //  prop.h = i + ':00' + ' - ' + i + ':59';
            // prop.s = i;

            // let st = 'h:' + i + ':00' + ' - ' + i + ':59' + ', s:' + i;
            v.push(prop);

        }




    } else {
        // vergangener tag -> alle zeiträume möglich


        sameDay = false;

        for (let i = 0; i < 24; i++) {

            let prop = { h: i + ':00' + ' - ' + i + ':59', s: i };

            //   prop.h = i + ':00' + ' - ' + i + ':59';
            // prop.s = i;

            //let st = 'h:' + i + ':00' + ' - ' + i + ':59' + ', s:' + i;
            v.push(prop);

        }


    }
    hourRange.value = v;




    let hourlyResponse = [];
    let startHour = new Date();
    let nextHour = new Date();

    startHour.setTime(dropdownDay.value.id);
    startHour.setHours(0);
    startHour.setMinutes(45);
    startHour.setSeconds(0);
    startHour.setMilliseconds(0);


    nextHour.setTime(dropdownDay.value.id);
    nextHour.setDate(nextHour.getDate()+1);
    nextHour.setHours(0);
    nextHour.setMinutes(45);
    nextHour.setSeconds(0);
 





    let requestString = 'http://192.168.34.156:8080/api/v1/hourly/' + r.value + '/time' + '?startTime=' + (Math.floor(startHour.getTime() / 1000)).toString()
        + '&endTime=' + Math.floor((nextHour.getTime() / 1000)).toString();


    loading = true;
    axios.get(requestString).then((response) => {
        loading = false; hourlyResponse = response.data; processHourlyData(hourlyResponse);
    }).catch(err => { loading = false; showError(errorMessageHour) });


    loading = false;

};


const pickedHour = () => {

    datentyp = "Sekundendaten für " + dropdownDay.value.tag.toString() + ", " + dropdownHour.value.s.toString() + "-" + (dropdownHour.value.s + 1).toString() + "Uhr";
    min15.value = null;
    StagingData.value = [];

    hourInvalid.value = false;

    min.value = null;
    sec.value = null;


    let m = [];
    let s = [];





    for (let i = 0; i < 60; i++) {
        m.push(i);
        s.push(i);
    }

    dropdown15Min.value = [];

    for (let i = 0; i < 4; i++) {
        let date = new Date();
        date.setTime(dropdownDay.value.id);
        date.setHours(dropdownHour.value.s);
        date.setMinutes(i * 15);
        date.setSeconds(0);
        date.setMilliseconds(0);

        let vonBis = i * 15 + ":00" + "-" + ((i * 15) + 14) + ":59";
        let intervallStart = Math.floor(date.getTime());

        date.setMinutes((i * 15) + 14);
        date.setSeconds(59);
        date.setMilliseconds(999);
        let intervallEnd = Math.floor(date.getTime());

        let intervall = { vonBis: vonBis, start: intervallStart, end: intervallEnd, id: i, msStart: (i * 15).toString() + ":00", msEnd: ((i * 15) + 14).toString() + ":59" };
        dropdown15Min.value.push(intervall);


    }





    dropdownMin.value = m;
    dropdownSec.value = s;


    let startDate = new Date();
    let endDate = new Date();

    startDate.setTime(dropdownDay.value.id);
    endDate.setTime(dropdownDay.value.id);

    startDate.setHours(dropdownHour.value.s);
    startDate.setMinutes(0);
    startDate.setSeconds(0);

    endDate.setHours(dropdownHour.value.s);
    endDate.setMinutes(59);
    endDate.setSeconds(59);
    endDate.setTime(endDate.getTime() + 1000)


    let stagingResponse = [];

    let requestString = 'http://192.168.34.156:8080/api/v1/staging/' + r.value + '/time' + '?startTime=' + (Math.floor(startDate.getTime() / 1000)).toString()
        + '&endTime=' + Math.floor((endDate.getTime() / 1000)).toString();

    loading = true;


    axios.get(requestString).then((response) => {
        stagingResponse = response.data; processStagingData(stagingResponse); loading = false;
    }).catch(err => { loading = false; showError(errorConnect) });





};


const pickedMinute = () => {

    if (min.value == null) {
        return;
    }
    sec.value = false;
    //min.value
    let date = new Date();

    let labels = [];
    let datavalue = [];

    StagingData.value.forEach(element => {
        date.setTime(element.time * 1000);


        if (min15.value != null) {
            if (date.getMinutes() >= min.value) {

                if (date.getTime() >= min15.value.start && date.getTime() <= min15.value.end) {
                    labels.push(date.getMinutes().toString() + ":" + date.getSeconds().toString());
                    datavalue.push(element.value);
                }

            }

        }

        else if (date.getMinutes() >= min.value) {

            labels.push(date.getMinutes().toString() + ":" + date.getSeconds().toString());
            datavalue.push(element.value);
        }


    });





    if (labels == null) {
        showError("Keine Daten für dieses Intervall(" + min15.value.vonBis + ")");
        min.value = null;
        return;
    }


    datentyp = "Sekundendaten für " + dropdownDay.value.tag.toString() + ", " + dropdownHour.value.s.toString() + "-" + (dropdownHour.value.s + 1).toString() + "Uhr";
    labels.reverse();
    datavalue.reverse();


    isStaging = true;

    labelsChart.value = labels;
    datasets.value = datavalue;


};

const pickedSecond = () => {
    //sec


    if (min.value == null || sec.value == null) {
        return;
    }

    let date = new Date();

    let labels = [];
    let datavalue = [];

    StagingData.value.forEach(element => {
        date.setTime(element.time * 1000);

        if (min15.value != null) {
            if (date.getMinutes() >= min.value && date.getSeconds() >= sec.value) {

                if (date.getTime() >= min15.value.start && date.getTime() <= min15.value.end) {
                    labels.push(date.getMinutes().toString() + ":" + date.getSeconds().toString());
                    datavalue.push(element.value);
                }

            }

        }


        else if (date.getMinutes() >= min.value && date.getSeconds() >= sec.value) {

            labels.push(date.getMinutes().toString() + ":" + date.getSeconds().toString());
            datavalue.push(element.value);
        }



    });


    if (labels == null) {
        showError("Keine Daten für dieses Intervall(" + min15.value.vonBis + ")");
        sec.value = null;
        return;
    }

    labels.reverse();
    datavalue.reverse();

    isStaging = true;

    labelsChart.value = labels;
    datasets.value = datavalue;

};





const processStagingData = (stagingData) => {



    //chartDaten
    let labels = [];
    let dataValue = [];

    if (stagingData[0] != null) {

        stagingData.sort(sortByTime);

        stagingData.forEach(element => {
            let stagingDate = new Date();
            stagingDate.setTime(Math.floor(element.time * 1000));

            labels.push(stagingDate.getMinutes().toString() + ":" + stagingDate.getSeconds().toString());
            dataValue.push(element.value);

           
        });
        StagingData.value = stagingData;
        labels.reverse();
        dataValue.reverse();


        isStaging = true;
        labelsChart.value = labels;
        datasets.value = dataValue;

    } else {
        showError(errorMessageHour);
    }


};



const reset = () => {

    datentyp = null
    min15.value = null;
    dropdown15Min.value = null;
    dayInvalid.value = false;
    hourInvalid.value = false;
    deviceInvalid.value = false;

    startInvalid.value = false;
    endInvalid.value = false;


    labelname.value = null;
    dropdownDay.value = null;
    dropdownDays.value = null;
    dropdownMin.value = null;
    dropdownSec.value = null;
    dropdownHour.value = null;
    hourRange.value = null;
    min.value = null;
    sec.value = null;

    r.value = null;

    startTime.value = null;
    endTime.value = null;


    showInfo("Eingabe zurückgesetzt");


    loading = false;




};

function sortByTime(a, b) {
    if (a.time > b.time) {
        return -1;
    } else {
        return 1;
    }


}


const setStart = () => {


    if (r.value == null || dropdownDay.value == null || dropdownHour.value == null) {
        if (r.value == null) {
            showWarn("Bitte rechner auswählen");
            deviceInvalid.value = true;
        }

        if (dropdownDay.value == null) {
            showWarn("Bitte Tag auswählen");
            dayInvalid.value = true;
        }

        if (dropdownHour.value == null) {
            showWarn("Bitte Stunde auswählen");
            hourInvalid.value = true;
        }

        return;

    }




    startInvalid.value = false;

    showInfo(infoSetStart);

    let start = new Date();



    start.setTime(dropdownDay.value.id);


    start.setHours(dropdownHour.value.s);
    start.setMinutes(min.value);
    start.setSeconds(sec.value);

    startTime.value = start;

    //startTime.value[1] = null;



};


const setEnd = () => {


    if (r.value == null || dropdownDay.value == null || dropdownHour.value == null) {
        if (r.value == null) {
            showWarn("Bitte Rechner auswählen");
            deviceInvalid.value = true;
        }

        if (dropdownDay.value == null) {
            showWarn("Bitte Tag auswählen");
            dayInvalid.value = true;
        }

        if (dropdownHour.value == null) {
            showWarn("Bitte Stunde auswählen");
            hourInvalid.value = true;
        }

        return;

    }




    endInvalid.value = false;

    showInfo(infoSetEnd);

    //   endTime.value = null;
    let end = new Date();
    end.setTime(dropdownDay.value.id)


    end.setHours(dropdownHour.value.s);
    end.setMinutes(min.value);
    end.setSeconds(sec.value);
    endTime.value = end;





};


const saveSeq = () => {


    if (r.value == null || startTime.value == null || endTime.value == null || labelname.value == null) {

        if (r.value == null) {
            showError("Kein Rechner ausgewählt");
            deviceInvalid.value = true;

            return;
        }
        if (startTime.value == null) {
            showError("Keine Startzeit ausgewählt");
            startInvalid.value = true;

            return;
        }
        if (endTime.value == null) {
            showError("Keine Endzeit ausgewählt");
            endInvalid.value = true;
            return;
        }
        if (labelname.value == null) {
            showError("Bitte einen Labelnamen eingeben");
            labelInvalid.value = true;
            return;
        }


    }


    let current = new Date();
    if (endTime.value.getTime() > current.getTime()) {
        showWarn("Das angegebene Ende der Sequenz ist noch nicht verügbar");
        return;
    }


    let a = [];
    a = dropdownDays.value;
    let indexLast = a.length;
    if (startTime.value.getTime() < dropdownDays.value[indexLast - 1].id) {
        showWarn("Der Start der Sequenz darf max 7 Tage zurück liegen");
        return;
    }





    if (r.value != null && startTime.value != null && endTime.value != null && labelname.value != null) {

        let startDate = new Date();
        startDate.setTime(startTime.value.getTime());

        let endDate = new Date();
        endDate.setTime(endTime.value.getTime());

        let sequenz = { gid: r.value, starttime: startDate.getTime() / 1000, endtime: endDate.getTime() / 1000, slabel: labelname.value };



        if (startDate.getTime() > endDate.getTime() || endDate.getTime() - startDate.getTime() > 2700 * 1000) {

            showError("Sequenz zu groß oder Anfang und Ende in falscher Reihenfolge");
            return;
        }

        loading = true;
        showInfo("Versuche Sequenz " + labelname.value + " abzuspeichern...")
        axios.post("http://192.168.34.156:8080/api/v1/sequenz/add/betweentime", sequenz).then((response) => { loading = false; showSuccess(successSeq); })
            .catch(err => { loading = false; showError(errSeq); });


    }











};

const picked15Min = () => {

    let date = new Date();


    let labels = [];
    let datavalue = [];
    if (labels == null) {
        showError("labels null");
    }
    StagingData.value.forEach(element => {
        date.setTime(element.time * 1000);

        if (min15.value.start <= date.getTime() && min15.value.end >= date.getTime()) {

            labels.push(date.getMinutes().toString() + ":" + date.getSeconds().toString());
            datavalue.push(element.value);
        }



    });


    if (labels == null) {
        showError("Keine Daten für dieses Intervall(" + min15.value.vonBis + ")");
        min15.value = null;

    } else {
        datentyp = "Sekundendaten für " + dropdownDay.value.tag.toString() + ", " + dropdownHour.value.s.toString() + ":" + min15.value.msStart + "-" + dropdownHour.value.s.toString() + ":" + min15.value.msEnd;

        min.value = null;
        dropdownMin.value = [];
        for (let i = min15.value.id * 15; i <= (((min15.value.id) * 15) + 14); i++) {
            dropdownMin.value.push(i);
        }

        labels.reverse();
        datavalue.reverse();

        isStaging = true;

        labelsChart.value = labels;
        datasets.value = datavalue;
    }



};

const showError = (message) => {

    toast.add({ severity: 'error', summary: 'Fehler', detail: message, life: 5000 });
};


const showSuccess = (message) => {

    toast.add({ severity: 'success', summary: 'Aktion erfolgreich', detail: message, life: 5000 });


};

const showInfo = (message) => {
    toast.add({ severity: 'info', summary: 'Aktion', detail: message, life: 5000 });
};


const showWarn = (message) => {
    toast.add({ severity: 'warn', summary: 'Achtung', detail: message, life: 5000 });
};

</script>