<template>

  <div class="grid p-fluid">
    <div class="col-6 md:col-6">
      <div class="card">
        <h2>Sequenzauswahl</h2>

        <div>
          <button class ="filter" @click="filter = !filter">{{ filter ? 'Sequenzfilter verbergen' : 'Sequenzen filtern' }}</button>
          <div v-if="filter">
            <br>
            <p>Auswahlmöglichkeiten mit * sind erforderlich</p>
            <br>
            <p><b>Auswahl der gewünschten Geräte oder Labels:</b></p>

            <div id="container">
              <div id="geraete">
                <p>Geräte*:</p>
                <checklist v-on:updateCheckList="geraet" :idsViaCategory="ids"/>
              </div>

              <div id="gruppen">
                <p>Gruppen:</p>
                <LabelViewer v-on:updateDeviceList="gruppe"/>
              </div>
            </div>

          </div>
        </div>

        <br>
        <br>

        <MultiSelect id="test" v-model="anzuzeigendesequenzen" :options="sequenzen" :loading="laden" placeholder="Sequenzen auswählen" :maxSelectedLabels="1" :virtualScrollerOptions="{ itemSize: 44 }"/>

        <br>

      </div>
    </div>
    <div class="col-6 md:col-6">
      <div class="card">
        <h2>Sequenz</h2>
        <div class="graph-container">
          <Graph :chartName="'Sequenzen'" :labels="labels" :data="sequenzMap" />

          <br>

          <button class = "vollbildbutton" @click="vollbildoeffnen">Vollbild</button>
        </div>
        <div class="vollbild" v-if="vollbild">
          <button class = "schliessenbutton" @click="vollbildschliessen">Schließen</button>
          <div class="graph-container2">
            <Graph :chartName="'Sequenzen'" :labels="labels" :data="sequenzMap" />
          </div>
        </div>
      </div>
    </div>
  </div>


</template>
<script setup>
import Graph from "../components/Graph.vue";
import Checklist from "../components/checklist.vue";
import LabelViewer from "../components/LabelViewer.vue";

</script>


<script>



export default {
  name: "Sequenzvergleich",

  data() {
    return {
      filter: false,
      manuell: false,
      automatisch: false,
      geraete: [],
      gruppen: [],
      sequenzvon: "",
      sequenzbis: "",
      sequenzen: [],
      gefiltertesequenzen: [],
      anzuzeigendesequenzen: [],
      ids: [],
      typ: [],
      sequenzData: [],
      sequenzMap: new Map(),
      sequenzname: '',
      labels: [],
      vollbild: false,
      sequenzenArray: [],
      laden: false,

    }
  },

  mounted() {
    this.fetchSequenzData()
  },


  methods: {

    geraet(geraete) {
      this.ids = geraete
    },

    gruppe(geraete) {
      this.ids = geraete
    },

    async fetchSequenzData() {
      this.laden = true
      this.sequenzen = this.anzuzeigendesequenzen // also optionen sollten immer die bereits ausgewählten sequenzen verfügbar sein
      for(const id of this.ids) {
        let response = await fetch(`http://192.168.34.156:8080/api/v1/sequenz/distinct/${id}`);
        let responseObject = await response.json();

        this.sequenzen = this.sequenzen.concat(responseObject)
      }
      this.sequenzen = [...new Set(this.sequenzen)]; // entfernt duplikate
      this.laden = false
    },


    async createSequenzMap() {
      this.sequenzMap = new Map();
      for (let sequenzname of this.anzuzeigendesequenzen) {
        const response = await fetch(`http://192.168.34.156:8080/api/v1/sequenz/label/${sequenzname}`);
        const sequenzData = await response.json();

        sequenzData.forEach((sequenz) => {
          if (!this.sequenzMap.has(sequenz.slabel)) {
            this.sequenzMap.set(sequenz.slabel, []);
            this.sequenzMap.get(sequenz.slabel).push(sequenz.value);
          } else {
            this.sequenzMap.get(sequenz.slabel).push(sequenz.value);
          }
        });
      }
      this.createLabels();
    },

    createLabels() {
      this.labels = [];
      let maxlaenge = 0;

      for (let value of this.sequenzMap.values()){
        if (value.length > maxlaenge) {
          maxlaenge = value.length;
        }
      }

      for (let i = 0; i < maxlaenge; i += 1) {
        this.labels.push(i);
      }
    },

    vollbildoeffnen() {
      this.vollbild = true;
    },
    vollbildschliessen() {
      this.vollbild = false;
    },




  },

  watch: {
    ids: "fetchSequenzData",
    sequenzvon: "fetchSequenzData",

    anzuzeigendesequenzen: function(newSequenzen, alteSequenzen) {
      const anzuzeigendeSequenzen = this.sequenzen.filter((sequenz) => {
        return newSequenzen.includes(sequenz.sequenzname);
      });

      this.createSequenzMap(anzuzeigendeSequenzen);
    },
  },
}


</script>

<style scoped>

#container {
  display: flex;
  flex-direction: row;
}

#sequenzvon {
  width: 100%;
}
#geraete, #gruppen {
  width: 50%;
}

.filter {
  background-color: #d3d3d3;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}



.graph-container2 {
  height: 100vh;
  aspect-ratio: 16/9;
}

.vollbild {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vollbild .graph-container {
  height: 90%;
}

.vollbildbutton {
  background-color: grey;
  border: none;
  color: black;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.schliessenbutton {
  background-color: darkred;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  float: right;
}

</style>
