<template>    
 <h1>This Website was created by: </h1>
 <h1></h1>  
 <h2> <strong>-Arnd</strong></h2>
 <h2> <strong>-Ahmad</strong></h2>
 <h2> <strong>-David</strong></h2>
 <h2> <strong>-Lea</strong></h2>
 <h2> <strong>-Lee</strong></h2>
 <h2> <strong>-Marvin</strong></h2>
 <h2> <strong>-Richard</strong></h2>



            
        
            

        
</template>

